@{
    ViewData["Title"] = "Home Page";

}

<div class="jumbotron">
    <h1>Teacher Portal</h1>
    <p class="lead">Welcome to University Teacher portal</p>
</div>

<section>
    <article>
        <p>
            Welcome to the University Teacher Portal.
            From this site you can:
            <ul>
                <li>View Assigned Courses</li>
                <li>Assign Grades To Students</li>
            </ul>
        </p>
    </article>
</section>
